.main {
  height: 100vh;

  .mask,
  .body {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #cac8c5;
    font-size: 64px;
    line-height: 66px;
    cursor: default;

    p {
      width: 1000px;
      padding: 40px;
    }
    span {
      color: #ee7ea7;
    }
  }

  .mask {
    mask-image: url("../../public/mask.svg");
    mask-repeat: no-repeat;
    mask-size: 40px;
    background: #ee7ea7;
    position: absolute;
    color: black;
  }
}
